body {
  background-color: #000000;
  font-family: "Elms Sans", sans-serif;
  color: #ffffff;
}

h1 {
  font-family: "Michroma", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  color: #FF3B0E;
}

.container {
  background-color: #FF3B0E;
  margin: 100px auto;    
  padding: 40px;
  width: 80%;
  max-width: 900px;      
  min-height: 200px;     
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;   
}
